@font-face {
  font-family: poppins;
  //   src: url("/src/fonts/Poppins-SemiBold.ttf");
}
header {
  font-family: Poppins-Semibold;
  position: relative;
  //   height: 2000px;
  background: var(--Intro-bgColor--);
  z-index: 100;
}
div.header {
  width: 80%;
  padding-top: 0.5rem;
  margin-inline: auto;
  padding-bottom: 2.5em;
  position: relative;
}
img.menu {
  display: none;
}

div.logo-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
section.intro {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
}
div.Profile {
  width: 60%;
  margin-top: 2.5em;

  h1 {
    font-size: 2rem;
    background: linear-gradient(45deg, #005eff, #04d1ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    margin-bottom: 0.5em;
  }
  p {
    font-size: 12px;
    color: var(--white--);
    opacity: 0.5;
    font-weight: lighter;
  }
}

div.Profile-Image {
  img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
  }
}

section.CV {
  margin-top: 1.5em;

  button {
    background: var(--download-cv-blue--);
    text-decoration: none;
    padding: 0.75em 0.8em;
    border-radius: 5px;
    outline: none;
    font-size: 0.8rem;
    opacity: 0.88;
    border: none;
    a {
      color: var(--white--);
      text-decoration: none;
    }
  }
}
div.social-media {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: fixed;
  top: 20%;
  left: 2%;

  svg {
    height: 20px;
    width: 20px;
  }
}

div.down-arrow {
  position: absolute;
  top: 92%;
  right: 5%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1380px) {
  div.header {
    width: 91%;
  }
  div.Profile {
    width: 58%;
    margin-top: 2.5em;
  }
  div.social-media {
    position: fixed;
    top: 20%;
    left: 93%;

    svg {
      height: 19px;
      width: 19px;
    }
  }
}
@media (max-width: 1150px) {
  div.header {
    width: 94%;
  }

  div.Profile {
    width: 55%;
    margin-top: 2.5em;

    h1 {
      font-size: 1.7rem;
    }
    p {
      font-size: 9px;
    }
  }
  div.Profile-Image {
    img {
      width: 250px;
      height: 250px;
    }
  }
  div.social-media {
    svg {
      height: 18px;
      width: 18px;
      margin-top: 0.5em;
    }
  }
}
@media (max-width: 770px) {
  div.logo {
    svg {
      width: 20px;
      height: 20px;
    }
    h2 {
      font-size: 1rem;
    }
  }
  div.header-logo-links {
    position: relative;
  }
  img.menu {
    // display: none;
    display: block;
  }
  nav {
    position: fixed;
    width: 50%;
    height: 100vh;
    z-index: 9999;
    background: var(--download-cv-blue--);
    // background: grey;
    top: 0;
    left: 50%;

    svg {
      fill: white;
      padding: 0.5em 0.3em;
      display: block;
    }

    ul {
      display: block;
    }
    li {
      padding: 2.2rem 2.5rem;
    }
    a {
      font-size: 0.9rem;
    }
  }
  svg.menu {
    fill: var(--download-cv-blue--);
    height: 40px;
    width: 40px;
  }
  section.intro {
    flex-direction: column-reverse;
    width: 100%;
  }

  div.Profile-Image {
    display: flex;
    justify-content: center;
  }
  div.header {
    width: 93%;
    padding-top: 0.5rem;
    padding-bottom: 2.5em;
  }

  div.Profile {
    width: 96%;
    text-align: center;

    h1 {
      font-size: 1.55rem;
    }
    h2 {
      font-size: 1.25rem;
    }
    p {
      font-size: 0.6rem;
      width: 100%;
    }
  }
  div.social-media {
    position: absolute;

    svg {
      height: 17px;
      width: 17px;
    }
  }
}
@media (max-width: 330px) {
  div.Profile {
    width: 96%;

    h1 {
      font-size: 1.4rem;
    }
    h2 {
      font-size: 1.15rem;
    }
    p {
      font-size: 0.53rem;
    }
  }
}
